<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.wdh.dao.WDHMapper">
	<!-- 로그인하기  -->
	<select id="memberLogin" 
	parameterType="kr.wdh.dao.MemberVO" 
	resultType="kr.wdh.dao.MemberVO">
		select * from member_info where mem_Id=#{mem_Id} and mem_Pw=#{mem_Pw}
	</select>
	
	
		<!-- 회원가입시 인서트 -->
	<insert id="signUp" parameterType="kr.wdh.dao.MemberVO">
	 insert into member_info(mem_Id, mem_pw, mem_nick, mem_pohone, mem_joindate) values(#{mem_Id},#{mem_Pw},#{mem_nick},#{mem_pohone},sysdate) <!--  ? >> 파라메터 매겨변수를 #{}로 표시-->
	</insert>
	
	
	<!-- 메인에서 활용할 숙소/ 여행지 10개 정보  -->
	<select id="TempStayList_main" resultType="kr.wdh.dao.TempStayVO">
		select * from temp_stay where rownum <![CDATA[ < ]]>= 10
	</select>
	<select id="TempPlaceList_main" resultType="kr.wdh.dao.PlaceVO">
		select * from temp_Place where rownum <![CDATA[ < ]]>= 10
	</select>
	
	<!-- 설정된 지역의  숙소/ 여행지 조회 -->
	<select id="TempStayListByaddr2" parameterType="kr.wdh.dao.StayVO" resultType="kr.wdh.dao.TempStayVO">
		select * from temp_stay where addr2 = #{addr2}
		<!-- addr2 가  광역시 + 구  조합된 형태의  정보임 -->
	</select>
	<select id="TempPlaceListByaddr2" parameterType="kr.wdh.dao.StayVO" resultType="kr.wdh.dao.TempStayVO">
		select * from temp_Place where addr2 = #{addr2}
	</select>
	
	

</mapper>