@charset "EUC-KR";
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      /* background-color: #ffffff; */
      text-color: #38b6ff;
      background-color: #38b6ff;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
   /* Note: Try to remove the following lines to see the effect
 of CSS positioning */
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

  .affix + .container-fluid {
    padding-top: 70px;
  }
  #myNavbar > ul > li > a:hover{
  background-color: black;
  text-color: #ffffff;
  }
  .navtitle{
  	color : #FFFFFF !important;
  }
  #searchBar{
  margin: 10px;
  }
  .navbar-brand{
  float: left;
  }